.collapsible {
    background-color: #3F3F3F;
    color: #ffffff;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}
.active, .collapsible:hover, .button:hover {
    background-color: #35a6f0;
}
#status {
    display: inline-block;
    padding: 2px;
}
.input_file{
    display: none;
}
/* The Modal (background) */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    min-height: 3vh;
    height:20px;
    padding-left:0px;
}


